/*Style général*/

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

/*Style mobile : approche mobile-first...*/

#conteneur {
    width: 100%;
    background-color: floralwhite;
}

/*première bande coin supérieur*/

#bandeau {
    padding: 20px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border-bottom: solid 1px deeppink;
}

/*Style menu en mode mobile - disparition...*/

#menu_bureau {
    display: none;

}

/*Bouton menu burger en mode - en mode mobile et tablette*!*/

#btn_menu {
    position: fixed;
    top: 0;
    right: 20px;
    /* The default style button sucks, do this */
    background: none;
    border: none;
}

/*Bouton fermer le volet vert - menu droite - en mode mobile et tablette*!*/

#btn_fermer {
    /* The default style button sucks, do this */
    background: none;
    border: none;
}

/*Style du volet (vert) - menu de droite - en mode mobile et tablette*/

#menu_mobile {
    width: 320px;
    height: 100%;
    background-color: palegreen;
    border: solid 1px forestgreen;
    list-style: inside;

    /*A positioned element is fixed relative
    to the browser window, which means that it
    always remains in the same place even if the
    page scrolls.*/
    position: fixed;
    top: 0;
    right: -320px;
}

/*Style du componen = texte des articles, ens somme */

#contenu {
    padding: 20px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border: solid 1px deeppink;
    margin-top: 10px;
}

/* Style des petits div contenu dans les "apartés" (éléments aside)
pour accueillir des actu, news, connexion, etc... */


#newsletter,
#identification {
    padding: 20px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    border: solid 1px deeppink;
    margin-top: 10px;
}

/*style du footer - mobile */

#pied {
    padding: 20px;
    /*
    "border-box" indique au navigateur de prendre en
    compte la bordure et le remplissage dans la valeur
    définie pour la largeur et la hauteur. Autrement dit
    si on définit un élément avec une largeur de 100 pixels,
    ces 100 pixels inclueront la bordure et le remplissage
    Pratique !
    */
    box-sizing: border-box;
    background-color: #AAA;
    border: solid 1px darkslategrey;
    margin-top: 10px;
}

/*Quelques ajustements de style pour les tablettes*/

@media screen and (min-width:768px) {
    #barre_laterale {
        display: flex;
        justify-content: space-between;
    }
    #newsletter,
    #identification {
        width: 48%;
    }
}

/*Quelques ajustements de style pour les interfaces Desktop*/

@media screen and (min-width:1200px) {
    #conteneur {
        width: 1100px;
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }
    #newsletter,
    #identification {
        width: 100%;
    }
    /*Disparition du bouton burger et du menu
    de droite (volet vert) en mode Desktop... */
    #btn_menu,
    #menu_mobile {
        display: none;
    }
    /*...remplacés par menu_desktop*/
    #menu_bureau {
        display: inline-flex;
        padding: 5px;
        margin-top: 10px;
        background-color: darkgrey;
    }
    #contenu {
        width: 850px;
        float: left;
        margin-bottom: 10px;
    }
    #barre_laterale {
        width: 220px;
        float: right;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    /*Style du Footer*/
    #pied {
        clear: both;
    }
}
